<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="stylesheet" type="text/css" href="./grid.css" /> -->
    <link rel="stylesheet" type="text/css" href="./flexbox.css" />

</head>

<body>
    <div class="grid-container flex-container">
        <div class="grid-item1 flex-first-row">A</div>
        <div class="grid-item2 flex-first-row">B</div>
        <div class="grid-item3 flex-second-row-1">C</div>
        <div class="grid-item4 flex-second-row-2">D</div>
        <div class="grid-item5 flex-third-row">E</div>
    </div>

</body>

</html>